<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackblod.web.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.blackblod.web.dmo.ArticleDmo">
    <id column="oId" jdbcType="VARCHAR" property="oId" />
    <result column="articleTitle" jdbcType="VARCHAR" property="articleTitle" />
    <result column="articleTags" jdbcType="VARCHAR" property="articleTags" />
    <result column="articleAuthorEmail" jdbcType="VARCHAR" property="articleAuthorEmail" />
    <result column="articleAuthorId" jdbcType="VARCHAR" property="articleAuthorId" />
    <result column="articleCommentCount" jdbcType="INTEGER" property="articleCommentCount" />
    <result column="articleViewCount" jdbcType="INTEGER" property="articleViewCount" />
    <result column="articleRewardPoint" jdbcType="INTEGER" property="articleRewardPoint" />
    <result column="articlePermalink" jdbcType="VARCHAR" property="articlePermalink" />
    <result column="articleCreateTime" jdbcType="BIGINT" property="articleCreateTime" />
    <result column="articleUpdateTime" jdbcType="BIGINT" property="articleUpdateTime" />
    <result column="articleLatestCmtTime" jdbcType="BIGINT" property="articleLatestCmtTime" />
    <result column="articleLatestCmterName" jdbcType="VARCHAR" property="articleLatestCmterName" />
    <result column="articleRandomDouble" jdbcType="DOUBLE" property="articleRandomDouble" />
    <result column="articleCommentable" jdbcType="CHAR" property="articleCommentable" />
    <result column="syncWithblodgodClient" jdbcType="CHAR" property="syncWithblodgodClient" />
    <result column="clientArticleId" jdbcType="VARCHAR" property="clientArticleId" />
    <result column="clientArticlePermalink" jdbcType="VARCHAR" property="clientArticlePermalink" />
    <result column="articleEditorType" jdbcType="INTEGER" property="articleEditorType" />
    <result column="articleStatus" jdbcType="INTEGER" property="articleStatus" />
    <result column="articleType" jdbcType="INTEGER" property="articleType" />
    <result column="articleGoodCnt" jdbcType="INTEGER" property="articleGoodCnt" />
    <result column="articleBadCnt" jdbcType="INTEGER" property="articleBadCnt" />
    <result column="articleCollectCnt" jdbcType="INTEGER" property="articleCollectCnt" />
    <result column="redditScore" jdbcType="DOUBLE" property="redditScore" />
    <result column="articleCity" jdbcType="VARCHAR" property="articleCity" />
    <result column="articleIP" jdbcType="VARCHAR" property="articleIP" />
    <result column="articleUA" jdbcType="VARCHAR" property="articleUA" />
    <result column="articleStick" jdbcType="BIGINT" property="articleStick" />
    <result column="articleAnonymous" jdbcType="INTEGER" property="articleAnonymous" />
    <result column="articlePerfect" jdbcType="INTEGER" property="articlePerfect" />
    <result column="articleAnonymousView" jdbcType="INTEGER" property="articleAnonymousView" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.blackblod.web.dmo.ArticleDmoWithBLOBs">
    <result column="articleContent" jdbcType="LONGVARCHAR" property="articleContent" />
    <result column="articleRewardContent" jdbcType="LONGVARCHAR" property="articleRewardContent" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, articleTitle, articleTags, articleAuthorEmail, articleAuthorId, articleCommentCount, 
    articleViewCount, articleRewardPoint, articlePermalink, articleCreateTime, articleUpdateTime, 
    articleLatestCmtTime, articleLatestCmterName, articleRandomDouble, articleCommentable, 
    syncWithblodgodClient, clientArticleId, clientArticlePermalink, articleEditorType, 
    articleStatus, articleType, articleGoodCnt, articleBadCnt, articleCollectCnt, redditScore, 
    articleCity, articleIP, articleUA, articleStick, articleAnonymous, articlePerfect, 
    articleAnonymousView
  </sql>
  <sql id="Blob_Column_List">
    articleContent, articleRewardContent
  </sql>
  <select id="selectByOId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blodgod_article
    where oId = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByOId" parameterType="java.lang.String">
    delete from blodgod_article
    where oId = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blackblod.web.dmo.ArticleDmoWithBLOBs">
    insert into blodgod_article (oId, articleTitle, articleTags, 
      articleAuthorEmail, articleAuthorId, articleCommentCount, 
      articleViewCount, articleRewardPoint, articlePermalink, 
      articleCreateTime, articleUpdateTime, articleLatestCmtTime, 
      articleLatestCmterName, articleRandomDouble, 
      articleCommentable, syncWithblodgodClient, clientArticleId, 
      clientArticlePermalink, articleEditorType, 
      articleStatus, articleType, articleGoodCnt, 
      articleBadCnt, articleCollectCnt, redditScore, 
      articleCity, articleIP, articleUA, 
      articleStick, articleAnonymous, articlePerfect, 
      articleAnonymousView, articleContent, 
      articleRewardContent)
    values (#{oId,jdbcType=VARCHAR}, #{articleTitle,jdbcType=VARCHAR}, #{articleTags,jdbcType=VARCHAR}, 
      #{articleAuthorEmail,jdbcType=VARCHAR}, #{articleAuthorId,jdbcType=VARCHAR}, #{articleCommentCount,jdbcType=INTEGER}, 
      #{articleViewCount,jdbcType=INTEGER}, #{articleRewardPoint,jdbcType=INTEGER}, #{articlePermalink,jdbcType=VARCHAR}, 
      #{articleCreateTime,jdbcType=BIGINT}, #{articleUpdateTime,jdbcType=BIGINT}, #{articleLatestCmtTime,jdbcType=BIGINT}, 
      #{articleLatestCmterName,jdbcType=VARCHAR}, #{articleRandomDouble,jdbcType=DOUBLE}, 
      #{articleCommentable,jdbcType=CHAR}, #{syncWithblodgodClient,jdbcType=CHAR}, #{clientArticleId,jdbcType=VARCHAR}, 
      #{clientArticlePermalink,jdbcType=VARCHAR}, #{articleEditorType,jdbcType=INTEGER}, 
      #{articleStatus,jdbcType=INTEGER}, #{articleType,jdbcType=INTEGER}, #{articleGoodCnt,jdbcType=INTEGER}, 
      #{articleBadCnt,jdbcType=INTEGER}, #{articleCollectCnt,jdbcType=INTEGER}, #{redditScore,jdbcType=DOUBLE}, 
      #{articleCity,jdbcType=VARCHAR}, #{articleIP,jdbcType=VARCHAR}, #{articleUA,jdbcType=VARCHAR}, 
      #{articleStick,jdbcType=BIGINT}, #{articleAnonymous,jdbcType=INTEGER}, #{articlePerfect,jdbcType=INTEGER}, 
      #{articleAnonymousView,jdbcType=INTEGER}, #{articleContent,jdbcType=LONGVARCHAR}, 
      #{articleRewardContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blackblod.web.dmo.ArticleDmoWithBLOBs">
    insert into blodgod_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        oId,
      </if>
      <if test="articleTitle != null">
        articleTitle,
      </if>
      <if test="articleTags != null">
        articleTags,
      </if>
      <if test="articleAuthorEmail != null">
        articleAuthorEmail,
      </if>
      <if test="articleAuthorId != null">
        articleAuthorId,
      </if>
      <if test="articleCommentCount != null">
        articleCommentCount,
      </if>
      <if test="articleViewCount != null">
        articleViewCount,
      </if>
      <if test="articleRewardPoint != null">
        articleRewardPoint,
      </if>
      <if test="articlePermalink != null">
        articlePermalink,
      </if>
      <if test="articleCreateTime != null">
        articleCreateTime,
      </if>
      <if test="articleUpdateTime != null">
        articleUpdateTime,
      </if>
      <if test="articleLatestCmtTime != null">
        articleLatestCmtTime,
      </if>
      <if test="articleLatestCmterName != null">
        articleLatestCmterName,
      </if>
      <if test="articleRandomDouble != null">
        articleRandomDouble,
      </if>
      <if test="articleCommentable != null">
        articleCommentable,
      </if>
      <if test="syncWithblodgodClient != null">
        syncWithblodgodClient,
      </if>
      <if test="clientArticleId != null">
        clientArticleId,
      </if>
      <if test="clientArticlePermalink != null">
        clientArticlePermalink,
      </if>
      <if test="articleEditorType != null">
        articleEditorType,
      </if>
      <if test="articleStatus != null">
        articleStatus,
      </if>
      <if test="articleType != null">
        articleType,
      </if>
      <if test="articleGoodCnt != null">
        articleGoodCnt,
      </if>
      <if test="articleBadCnt != null">
        articleBadCnt,
      </if>
      <if test="articleCollectCnt != null">
        articleCollectCnt,
      </if>
      <if test="redditScore != null">
        redditScore,
      </if>
      <if test="articleCity != null">
        articleCity,
      </if>
      <if test="articleIP != null">
        articleIP,
      </if>
      <if test="articleUA != null">
        articleUA,
      </if>
      <if test="articleStick != null">
        articleStick,
      </if>
      <if test="articleAnonymous != null">
        articleAnonymous,
      </if>
      <if test="articlePerfect != null">
        articlePerfect,
      </if>
      <if test="articleAnonymousView != null">
        articleAnonymousView,
      </if>
      <if test="articleContent != null">
        articleContent,
      </if>
      <if test="articleRewardContent != null">
        articleRewardContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleTags != null">
        #{articleTags,jdbcType=VARCHAR},
      </if>
      <if test="articleAuthorEmail != null">
        #{articleAuthorEmail,jdbcType=VARCHAR},
      </if>
      <if test="articleAuthorId != null">
        #{articleAuthorId,jdbcType=VARCHAR},
      </if>
      <if test="articleCommentCount != null">
        #{articleCommentCount,jdbcType=INTEGER},
      </if>
      <if test="articleViewCount != null">
        #{articleViewCount,jdbcType=INTEGER},
      </if>
      <if test="articleRewardPoint != null">
        #{articleRewardPoint,jdbcType=INTEGER},
      </if>
      <if test="articlePermalink != null">
        #{articlePermalink,jdbcType=VARCHAR},
      </if>
      <if test="articleCreateTime != null">
        #{articleCreateTime,jdbcType=BIGINT},
      </if>
      <if test="articleUpdateTime != null">
        #{articleUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="articleLatestCmtTime != null">
        #{articleLatestCmtTime,jdbcType=BIGINT},
      </if>
      <if test="articleLatestCmterName != null">
        #{articleLatestCmterName,jdbcType=VARCHAR},
      </if>
      <if test="articleRandomDouble != null">
        #{articleRandomDouble,jdbcType=DOUBLE},
      </if>
      <if test="articleCommentable != null">
        #{articleCommentable,jdbcType=CHAR},
      </if>
      <if test="syncWithblodgodClient != null">
        #{syncWithblodgodClient,jdbcType=CHAR},
      </if>
      <if test="clientArticleId != null">
        #{clientArticleId,jdbcType=VARCHAR},
      </if>
      <if test="clientArticlePermalink != null">
        #{clientArticlePermalink,jdbcType=VARCHAR},
      </if>
      <if test="articleEditorType != null">
        #{articleEditorType,jdbcType=INTEGER},
      </if>
      <if test="articleStatus != null">
        #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleType != null">
        #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articleGoodCnt != null">
        #{articleGoodCnt,jdbcType=INTEGER},
      </if>
      <if test="articleBadCnt != null">
        #{articleBadCnt,jdbcType=INTEGER},
      </if>
      <if test="articleCollectCnt != null">
        #{articleCollectCnt,jdbcType=INTEGER},
      </if>
      <if test="redditScore != null">
        #{redditScore,jdbcType=DOUBLE},
      </if>
      <if test="articleCity != null">
        #{articleCity,jdbcType=VARCHAR},
      </if>
      <if test="articleIP != null">
        #{articleIP,jdbcType=VARCHAR},
      </if>
      <if test="articleUA != null">
        #{articleUA,jdbcType=VARCHAR},
      </if>
      <if test="articleStick != null">
        #{articleStick,jdbcType=BIGINT},
      </if>
      <if test="articleAnonymous != null">
        #{articleAnonymous,jdbcType=INTEGER},
      </if>
      <if test="articlePerfect != null">
        #{articlePerfect,jdbcType=INTEGER},
      </if>
      <if test="articleAnonymousView != null">
        #{articleAnonymousView,jdbcType=INTEGER},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="articleRewardContent != null">
        #{articleRewardContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByOIdSelective" parameterType="com.blackblod.web.dmo.ArticleDmoWithBLOBs">
    update blodgod_article
    <set>
      <if test="articleTitle != null">
        articleTitle = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleTags != null">
        articleTags = #{articleTags,jdbcType=VARCHAR},
      </if>
      <if test="articleAuthorEmail != null">
        articleAuthorEmail = #{articleAuthorEmail,jdbcType=VARCHAR},
      </if>
      <if test="articleAuthorId != null">
        articleAuthorId = #{articleAuthorId,jdbcType=VARCHAR},
      </if>
      <if test="articleCommentCount != null">
        articleCommentCount = #{articleCommentCount,jdbcType=INTEGER},
      </if>
      <if test="articleViewCount != null">
        articleViewCount = #{articleViewCount,jdbcType=INTEGER},
      </if>
      <if test="articleRewardPoint != null">
        articleRewardPoint = #{articleRewardPoint,jdbcType=INTEGER},
      </if>
      <if test="articlePermalink != null">
        articlePermalink = #{articlePermalink,jdbcType=VARCHAR},
      </if>
      <if test="articleCreateTime != null">
        articleCreateTime = #{articleCreateTime,jdbcType=BIGINT},
      </if>
      <if test="articleUpdateTime != null">
        articleUpdateTime = #{articleUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="articleLatestCmtTime != null">
        articleLatestCmtTime = #{articleLatestCmtTime,jdbcType=BIGINT},
      </if>
      <if test="articleLatestCmterName != null">
        articleLatestCmterName = #{articleLatestCmterName,jdbcType=VARCHAR},
      </if>
      <if test="articleRandomDouble != null">
        articleRandomDouble = #{articleRandomDouble,jdbcType=DOUBLE},
      </if>
      <if test="articleCommentable != null">
        articleCommentable = #{articleCommentable,jdbcType=CHAR},
      </if>
      <if test="syncWithblodgodClient != null">
        syncWithblodgodClient = #{syncWithblodgodClient,jdbcType=CHAR},
      </if>
      <if test="clientArticleId != null">
        clientArticleId = #{clientArticleId,jdbcType=VARCHAR},
      </if>
      <if test="clientArticlePermalink != null">
        clientArticlePermalink = #{clientArticlePermalink,jdbcType=VARCHAR},
      </if>
      <if test="articleEditorType != null">
        articleEditorType = #{articleEditorType,jdbcType=INTEGER},
      </if>
      <if test="articleStatus != null">
        articleStatus = #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleType != null">
        articleType = #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articleGoodCnt != null">
        articleGoodCnt = #{articleGoodCnt,jdbcType=INTEGER},
      </if>
      <if test="articleBadCnt != null">
        articleBadCnt = #{articleBadCnt,jdbcType=INTEGER},
      </if>
      <if test="articleCollectCnt != null">
        articleCollectCnt = #{articleCollectCnt,jdbcType=INTEGER},
      </if>
      <if test="redditScore != null">
        redditScore = #{redditScore,jdbcType=DOUBLE},
      </if>
      <if test="articleCity != null">
        articleCity = #{articleCity,jdbcType=VARCHAR},
      </if>
      <if test="articleIP != null">
        articleIP = #{articleIP,jdbcType=VARCHAR},
      </if>
      <if test="articleUA != null">
        articleUA = #{articleUA,jdbcType=VARCHAR},
      </if>
      <if test="articleStick != null">
        articleStick = #{articleStick,jdbcType=BIGINT},
      </if>
      <if test="articleAnonymous != null">
        articleAnonymous = #{articleAnonymous,jdbcType=INTEGER},
      </if>
      <if test="articlePerfect != null">
        articlePerfect = #{articlePerfect,jdbcType=INTEGER},
      </if>
      <if test="articleAnonymousView != null">
        articleAnonymousView = #{articleAnonymousView,jdbcType=INTEGER},
      </if>
      <if test="articleContent != null">
        articleContent = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="articleRewardContent != null">
        articleRewardContent = #{articleRewardContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByOIdWithBLOBs" parameterType="com.blackblod.web.dmo.ArticleDmoWithBLOBs">
    update blodgod_article
    set articleTitle = #{articleTitle,jdbcType=VARCHAR},
      articleTags = #{articleTags,jdbcType=VARCHAR},
      articleAuthorEmail = #{articleAuthorEmail,jdbcType=VARCHAR},
      articleAuthorId = #{articleAuthorId,jdbcType=VARCHAR},
      articleCommentCount = #{articleCommentCount,jdbcType=INTEGER},
      articleViewCount = #{articleViewCount,jdbcType=INTEGER},
      articleRewardPoint = #{articleRewardPoint,jdbcType=INTEGER},
      articlePermalink = #{articlePermalink,jdbcType=VARCHAR},
      articleCreateTime = #{articleCreateTime,jdbcType=BIGINT},
      articleUpdateTime = #{articleUpdateTime,jdbcType=BIGINT},
      articleLatestCmtTime = #{articleLatestCmtTime,jdbcType=BIGINT},
      articleLatestCmterName = #{articleLatestCmterName,jdbcType=VARCHAR},
      articleRandomDouble = #{articleRandomDouble,jdbcType=DOUBLE},
      articleCommentable = #{articleCommentable,jdbcType=CHAR},
      syncWithblodgodClient = #{syncWithblodgodClient,jdbcType=CHAR},
      clientArticleId = #{clientArticleId,jdbcType=VARCHAR},
      clientArticlePermalink = #{clientArticlePermalink,jdbcType=VARCHAR},
      articleEditorType = #{articleEditorType,jdbcType=INTEGER},
      articleStatus = #{articleStatus,jdbcType=INTEGER},
      articleType = #{articleType,jdbcType=INTEGER},
      articleGoodCnt = #{articleGoodCnt,jdbcType=INTEGER},
      articleBadCnt = #{articleBadCnt,jdbcType=INTEGER},
      articleCollectCnt = #{articleCollectCnt,jdbcType=INTEGER},
      redditScore = #{redditScore,jdbcType=DOUBLE},
      articleCity = #{articleCity,jdbcType=VARCHAR},
      articleIP = #{articleIP,jdbcType=VARCHAR},
      articleUA = #{articleUA,jdbcType=VARCHAR},
      articleStick = #{articleStick,jdbcType=BIGINT},
      articleAnonymous = #{articleAnonymous,jdbcType=INTEGER},
      articlePerfect = #{articlePerfect,jdbcType=INTEGER},
      articleAnonymousView = #{articleAnonymousView,jdbcType=INTEGER},
      articleContent = #{articleContent,jdbcType=LONGVARCHAR},
      articleRewardContent = #{articleRewardContent,jdbcType=LONGVARCHAR}
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByOId" parameterType="com.blackblod.web.dmo.ArticleDmo">
    update blodgod_article
    set articleTitle = #{articleTitle,jdbcType=VARCHAR},
      articleTags = #{articleTags,jdbcType=VARCHAR},
      articleAuthorEmail = #{articleAuthorEmail,jdbcType=VARCHAR},
      articleAuthorId = #{articleAuthorId,jdbcType=VARCHAR},
      articleCommentCount = #{articleCommentCount,jdbcType=INTEGER},
      articleViewCount = #{articleViewCount,jdbcType=INTEGER},
      articleRewardPoint = #{articleRewardPoint,jdbcType=INTEGER},
      articlePermalink = #{articlePermalink,jdbcType=VARCHAR},
      articleCreateTime = #{articleCreateTime,jdbcType=BIGINT},
      articleUpdateTime = #{articleUpdateTime,jdbcType=BIGINT},
      articleLatestCmtTime = #{articleLatestCmtTime,jdbcType=BIGINT},
      articleLatestCmterName = #{articleLatestCmterName,jdbcType=VARCHAR},
      articleRandomDouble = #{articleRandomDouble,jdbcType=DOUBLE},
      articleCommentable = #{articleCommentable,jdbcType=CHAR},
      syncWithblodgodClient = #{syncWithblodgodClient,jdbcType=CHAR},
      clientArticleId = #{clientArticleId,jdbcType=VARCHAR},
      clientArticlePermalink = #{clientArticlePermalink,jdbcType=VARCHAR},
      articleEditorType = #{articleEditorType,jdbcType=INTEGER},
      articleStatus = #{articleStatus,jdbcType=INTEGER},
      articleType = #{articleType,jdbcType=INTEGER},
      articleGoodCnt = #{articleGoodCnt,jdbcType=INTEGER},
      articleBadCnt = #{articleBadCnt,jdbcType=INTEGER},
      articleCollectCnt = #{articleCollectCnt,jdbcType=INTEGER},
      redditScore = #{redditScore,jdbcType=DOUBLE},
      articleCity = #{articleCity,jdbcType=VARCHAR},
      articleIP = #{articleIP,jdbcType=VARCHAR},
      articleUA = #{articleUA,jdbcType=VARCHAR},
      articleStick = #{articleStick,jdbcType=BIGINT},
      articleAnonymous = #{articleAnonymous,jdbcType=INTEGER},
      articlePerfect = #{articlePerfect,jdbcType=INTEGER},
      articleAnonymousView = #{articleAnonymousView,jdbcType=INTEGER}
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
</mapper>