<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackblod.web.mapper.BGNotificationMapper">
  <resultMap id="BaseResultMap" type="com.blackblod.web.dmo.BGNotification">
    <id column="oId" jdbcType="VARCHAR" property="oId" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="dataId" jdbcType="VARCHAR" property="dataId" />
    <result column="dataType" jdbcType="INTEGER" property="dataType" />
    <result column="hasRead" jdbcType="CHAR" property="hasRead" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, userId, dataId, dataType, hasRead
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blodgod_notification
    where oId = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blodgod_notification
    where oId = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blackblod.web.dmo.BGNotification">
    insert into blodgod_notification (oId, userId, dataId, 
      dataType, hasRead)
    values (#{oId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{dataId,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=INTEGER}, #{hasRead,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blackblod.web.dmo.BGNotification">
    insert into blodgod_notification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        oId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="dataId != null">
        dataId,
      </if>
      <if test="dataType != null">
        dataType,
      </if>
      <if test="hasRead != null">
        hasRead,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="hasRead != null">
        #{hasRead,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blackblod.web.dmo.BGNotification">
    update blodgod_notification
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        dataId = #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        dataType = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="hasRead != null">
        hasRead = #{hasRead,jdbcType=CHAR},
      </if>
    </set>
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blackblod.web.dmo.BGNotification">
    update blodgod_notification
    set userId = #{userId,jdbcType=VARCHAR},
      dataId = #{dataId,jdbcType=VARCHAR},
      dataType = #{dataType,jdbcType=INTEGER},
      hasRead = #{hasRead,jdbcType=CHAR}
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
</mapper>