<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackblod.web.mapper.BGPointtransferMapper">
  <resultMap id="BaseResultMap" type="com.blackblod.web.dmo.BGPointtransfer">
    <id column="oId" jdbcType="VARCHAR" property="oId" />
    <result column="fromId" jdbcType="VARCHAR" property="fromId" />
    <result column="toId" jdbcType="VARCHAR" property="toId" />
    <result column="sum" jdbcType="INTEGER" property="sum" />
    <result column="fromBalance" jdbcType="INTEGER" property="fromBalance" />
    <result column="toBalance" jdbcType="INTEGER" property="toBalance" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="dataId" jdbcType="VARCHAR" property="dataId" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, fromId, toId, sum, fromBalance, toBalance, time, type, dataId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blodgod_pointtransfer
    where oId = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blodgod_pointtransfer
    where oId = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blackblod.web.dmo.BGPointtransfer">
    insert into blodgod_pointtransfer (oId, fromId, toId, 
      sum, fromBalance, toBalance, 
      time, type, dataId)
    values (#{oId,jdbcType=VARCHAR}, #{fromId,jdbcType=VARCHAR}, #{toId,jdbcType=VARCHAR}, 
      #{sum,jdbcType=INTEGER}, #{fromBalance,jdbcType=INTEGER}, #{toBalance,jdbcType=INTEGER}, 
      #{time,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{dataId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blackblod.web.dmo.BGPointtransfer">
    insert into blodgod_pointtransfer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        oId,
      </if>
      <if test="fromId != null">
        fromId,
      </if>
      <if test="toId != null">
        toId,
      </if>
      <if test="sum != null">
        sum,
      </if>
      <if test="fromBalance != null">
        fromBalance,
      </if>
      <if test="toBalance != null">
        toBalance,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="dataId != null">
        dataId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null">
        #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=VARCHAR},
      </if>
      <if test="sum != null">
        #{sum,jdbcType=INTEGER},
      </if>
      <if test="fromBalance != null">
        #{fromBalance,jdbcType=INTEGER},
      </if>
      <if test="toBalance != null">
        #{toBalance,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blackblod.web.dmo.BGPointtransfer">
    update blodgod_pointtransfer
    <set>
      <if test="fromId != null">
        fromId = #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="toId != null">
        toId = #{toId,jdbcType=VARCHAR},
      </if>
      <if test="sum != null">
        sum = #{sum,jdbcType=INTEGER},
      </if>
      <if test="fromBalance != null">
        fromBalance = #{fromBalance,jdbcType=INTEGER},
      </if>
      <if test="toBalance != null">
        toBalance = #{toBalance,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="dataId != null">
        dataId = #{dataId,jdbcType=VARCHAR},
      </if>
    </set>
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blackblod.web.dmo.BGPointtransfer">
    update blodgod_pointtransfer
    set fromId = #{fromId,jdbcType=VARCHAR},
      toId = #{toId,jdbcType=VARCHAR},
      sum = #{sum,jdbcType=INTEGER},
      fromBalance = #{fromBalance,jdbcType=INTEGER},
      toBalance = #{toBalance,jdbcType=INTEGER},
      time = #{time,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      dataId = #{dataId,jdbcType=VARCHAR}
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
</mapper>