<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackblod.web.mapper.BGReferralMapper">
  <resultMap id="BaseResultMap" type="com.blackblod.web.dmo.BGReferral">
    <id column="oId" jdbcType="VARCHAR" property="oId" />
    <result column="referralUser" jdbcType="VARCHAR" property="referralUser" />
    <result column="referralDataId" jdbcType="VARCHAR" property="referralDataId" />
    <result column="referralType" jdbcType="INTEGER" property="referralType" />
    <result column="referralIP" jdbcType="VARCHAR" property="referralIP" />
    <result column="referralClick" jdbcType="INTEGER" property="referralClick" />
    <result column="referralUserHasPoint" jdbcType="CHAR" property="referralUserHasPoint" />
    <result column="referralAuthorHasPoint" jdbcType="CHAR" property="referralAuthorHasPoint" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, referralUser, referralDataId, referralType, referralIP, referralClick, referralUserHasPoint, 
    referralAuthorHasPoint
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blodgod_referral
    where oId = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blodgod_referral
    where oId = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.blackblod.web.dmo.BGReferral">
    insert into blodgod_referral (oId, referralUser, referralDataId, 
      referralType, referralIP, referralClick, 
      referralUserHasPoint, referralAuthorHasPoint)
    values (#{oId,jdbcType=VARCHAR}, #{referralUser,jdbcType=VARCHAR}, #{referralDataId,jdbcType=VARCHAR}, 
      #{referralType,jdbcType=INTEGER}, #{referralIP,jdbcType=VARCHAR}, #{referralClick,jdbcType=INTEGER}, 
      #{referralUserHasPoint,jdbcType=CHAR}, #{referralAuthorHasPoint,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blackblod.web.dmo.BGReferral">
    insert into blodgod_referral
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        oId,
      </if>
      <if test="referralUser != null">
        referralUser,
      </if>
      <if test="referralDataId != null">
        referralDataId,
      </if>
      <if test="referralType != null">
        referralType,
      </if>
      <if test="referralIP != null">
        referralIP,
      </if>
      <if test="referralClick != null">
        referralClick,
      </if>
      <if test="referralUserHasPoint != null">
        referralUserHasPoint,
      </if>
      <if test="referralAuthorHasPoint != null">
        referralAuthorHasPoint,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="referralUser != null">
        #{referralUser,jdbcType=VARCHAR},
      </if>
      <if test="referralDataId != null">
        #{referralDataId,jdbcType=VARCHAR},
      </if>
      <if test="referralType != null">
        #{referralType,jdbcType=INTEGER},
      </if>
      <if test="referralIP != null">
        #{referralIP,jdbcType=VARCHAR},
      </if>
      <if test="referralClick != null">
        #{referralClick,jdbcType=INTEGER},
      </if>
      <if test="referralUserHasPoint != null">
        #{referralUserHasPoint,jdbcType=CHAR},
      </if>
      <if test="referralAuthorHasPoint != null">
        #{referralAuthorHasPoint,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blackblod.web.dmo.BGReferral">
    update blodgod_referral
    <set>
      <if test="referralUser != null">
        referralUser = #{referralUser,jdbcType=VARCHAR},
      </if>
      <if test="referralDataId != null">
        referralDataId = #{referralDataId,jdbcType=VARCHAR},
      </if>
      <if test="referralType != null">
        referralType = #{referralType,jdbcType=INTEGER},
      </if>
      <if test="referralIP != null">
        referralIP = #{referralIP,jdbcType=VARCHAR},
      </if>
      <if test="referralClick != null">
        referralClick = #{referralClick,jdbcType=INTEGER},
      </if>
      <if test="referralUserHasPoint != null">
        referralUserHasPoint = #{referralUserHasPoint,jdbcType=CHAR},
      </if>
      <if test="referralAuthorHasPoint != null">
        referralAuthorHasPoint = #{referralAuthorHasPoint,jdbcType=CHAR},
      </if>
    </set>
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blackblod.web.dmo.BGReferral">
    update blodgod_referral
    set referralUser = #{referralUser,jdbcType=VARCHAR},
      referralDataId = #{referralDataId,jdbcType=VARCHAR},
      referralType = #{referralType,jdbcType=INTEGER},
      referralIP = #{referralIP,jdbcType=VARCHAR},
      referralClick = #{referralClick,jdbcType=INTEGER},
      referralUserHasPoint = #{referralUserHasPoint,jdbcType=CHAR},
      referralAuthorHasPoint = #{referralAuthorHasPoint,jdbcType=CHAR}
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
</mapper>