<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackblod.web.dao.BGRewardMapper">
  <resultMap id="BaseResultMap" type="model.BGReward">
    <id column="oId" jdbcType="VARCHAR" property="oId" />
    <result column="senderId" jdbcType="VARCHAR" property="senderId" />
    <result column="dataId" jdbcType="VARCHAR" property="dataId" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, senderId, dataId, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blodgod_reward
    where oId = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blodgod_reward
    where oId = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="model.BGReward">
    insert into blodgod_reward (oId, senderId, dataId, 
      type)
    values (#{oId,jdbcType=VARCHAR}, #{senderId,jdbcType=VARCHAR}, #{dataId,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="model.BGReward">
    insert into blodgod_reward
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        oId,
      </if>
      <if test="senderId != null">
        senderId,
      </if>
      <if test="dataId != null">
        dataId,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="senderId != null">
        #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.BGReward">
    update blodgod_reward
    <set>
      <if test="senderId != null">
        senderId = #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        dataId = #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.BGReward">
    update blodgod_reward
    set senderId = #{senderId,jdbcType=VARCHAR},
      dataId = #{dataId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
</mapper>