<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackblod.web.dao.BGTagUserLinkMapper">
  <resultMap id="BaseResultMap" type="model.BGTagUserLink">
    <id column="oId" jdbcType="VARCHAR" property="oId" />
    <result column="linkId" jdbcType="VARCHAR" property="linkId" />
    <result column="tagId" jdbcType="VARCHAR" property="tagId" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="linkScore" jdbcType="DOUBLE" property="linkScore" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, linkId, tagId, userId, linkScore
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blodgod_tag_user_link
    where oId = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blodgod_tag_user_link
    where oId = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="model.BGTagUserLink">
    insert into blodgod_tag_user_link (oId, linkId, tagId, 
      userId, linkScore)
    values (#{oId,jdbcType=VARCHAR}, #{linkId,jdbcType=VARCHAR}, #{tagId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{linkScore,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="model.BGTagUserLink">
    insert into blodgod_tag_user_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        oId,
      </if>
      <if test="linkId != null">
        linkId,
      </if>
      <if test="tagId != null">
        tagId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="linkScore != null">
        linkScore,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="linkId != null">
        #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="linkScore != null">
        #{linkScore,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.BGTagUserLink">
    update blodgod_tag_user_link
    <set>
      <if test="linkId != null">
        linkId = #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null">
        tagId = #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="linkScore != null">
        linkScore = #{linkScore,jdbcType=DOUBLE},
      </if>
    </set>
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.BGTagUserLink">
    update blodgod_tag_user_link
    set linkId = #{linkId,jdbcType=VARCHAR},
      tagId = #{tagId,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=VARCHAR},
      linkScore = #{linkScore,jdbcType=DOUBLE}
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
</mapper>