<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackblod.web.dao.BGVoteMapper">
  <resultMap id="BaseResultMap" type="model.BGVote">
    <id column="oId" jdbcType="VARCHAR" property="oId" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="dataType" jdbcType="INTEGER" property="dataType" />
    <result column="dataId" jdbcType="VARCHAR" property="dataId" />
  </resultMap>
  <sql id="Base_Column_List">
    oId, userId, type, dataType, dataId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blodgod_vote
    where oId = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blodgod_vote
    where oId = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="model.BGVote">
    insert into blodgod_vote (oId, userId, type, 
      dataType, dataId)
    values (#{oId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{dataType,jdbcType=INTEGER}, #{dataId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.BGVote">
    insert into blodgod_vote
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        oId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="dataType != null">
        dataType,
      </if>
      <if test="dataId != null">
        dataId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.BGVote">
    update blodgod_vote
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="dataType != null">
        dataType = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="dataId != null">
        dataId = #{dataId,jdbcType=VARCHAR},
      </if>
    </set>
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.BGVote">
    update blodgod_vote
    set userId = #{userId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      dataType = #{dataType,jdbcType=INTEGER},
      dataId = #{dataId,jdbcType=VARCHAR}
    where oId = #{oId,jdbcType=VARCHAR}
  </update>
</mapper>